In [91]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [94]:
"""
60191672 윤태균 
기능 설명: a->csv 파일을 dataframe형태로 load하고 shape와 첫 20행을 출력
           b->1~5열에서 0값을 NaN으로 치환하고 첫 20행을 출력/NaN으로 치환된 데이터 
              셀의 개수 출력
           c->column0 을 0회는 A로 1~3회는 B로 3회 이상은 C로 그룹을 나누어 column0
              에 표기한다. 그 후 ColumnTransfer를 이용하여 numpy array를 출력하고,
              dataframe으로 변환하여 출력하고, 마지막으로 sparse matrix를 출력한다.
           d->결측치 NaN으로 표시된 행을 모두 삭체하고 삭체 전/후 행과 열의 개수출력
           e->각 결측치들을 각 column별 평균으로 바꾸고 결측치들이 있던 행을 출력하고
              행의 개수도 출력한다.
           f->우선 당뇨병의 유무를 positive와 negative로 나누어 groupby를 한다. 그 후 
              각 그룹에서 50개 씩 sampling을 복원없이 추출하여 2개를 concat하여 100개의 
              표본을 가진 2개의 파일을 만든다.
"""


from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from scipy import sparse
from pandas import DataFrame
import pandas as pd
import numpy as np

dataset = pd.read_csv('pima-indians-diabetes.csv', header = None)

print("(a)\n")
print(dataset.shape)
print(dataset.head(20))

print("\n(b)\n")
dataset[[1,2,3,4,5]] = dataset[[1,2,3,4,5]].replace(0,np.NaN)
print(dataset.head(20))
print("NaN으로 치환된 데이터 셀의 개수는",dataset.isnull().sum().sum(),"개 입니다.")

print("\n(c)\n")
dataset0 = dataset
#'A'그룹은 0번 임심  'B'그룹은 1,2번 임신 'C'그룹은 3번 이상 임신 (0column)
dataset0.loc[dataset0[0]==0,'group'] = 'A'
dataset0.loc[(dataset0[0] >=1)&(dataset0[0]<3),'group'] = 'B'
dataset0.loc[dataset0[0] >=3,'group'] = 'C'
dataset0[0] = dataset0['group']
dataset0 = dataset0.drop(['group'],axis =1)
print(dataset0[374:394]) 
print(type(dataset0))

ct = ColumnTransformer([('one_hot_encoder',OneHotEncoder(),[0])],remainder='passthrough')
dataset1 = ct.fit_transform(dataset0)
print(dataset1[374:394]) #numpy array
print(type(dataset1))
dataset2 = pd.DataFrame(dataset1)
print(dataset2[374:394])
print(type(dataset2)) #dataframe
dataset3 = sparse.csr_matrix(dataset1[374:394])
print(dataset3)
print(type(dataset3)) #Sparse matrix

print("\n(d)\n")
dataset4 = dataset0.dropna(inplace = False)
print(dataset0.shape)
print(dataset4.shape)

print("\n(e)\n")
dataset5 = dataset0.fillna(dataset0.mean(),inplace = False)
null_data = dataset0[dataset0.isnull().any(axis=1)]
print(null_data)
print("치환이 발생한 행의 개수",null_data.shape[0])

print("\n(f)\n")
df = pd.read_csv('pima-indians-diabetes.csv', header = None)
df_0 = df.groupby(8).get_group(0)
df_1 = df.groupby(8).get_group(1)

df_train_x = df_0.sample(n =50, replace = False)
df_train_y = df_1.sample(n =50, replace = False)
df_train = pd.concat([df_train_x,df_train_y])
df_train.to_csv('df_train.csv',sep=',',na_rep='NaN',header=True)

df_test_x = df_0.sample(n =50, replace = False)
df_test_y = df_1.sample(n =50, replace = False)
df_test = pd.concat([df_test_x,df_test_y])
df_test.to_csv('df_test.csv',sep=',',na_rep='NaN',header=True)

'\n60191672 윤태균 \n기능 설명: a->csv 파일을 dataframe형태로 load하고 shape와 첫 20행을 출력\n           b->1~5열에서 0값을 NaN으로 치환하고 첫 20행을 출력/NaN으로 치환된 데이터 \n              셀의 개수 출력\n           c->column0 을 0회는 A로 1~3회는 B로 3회 이상은 C로 그룹을 나누어 column0\n              에 표기한다. 그 후 ColumnTransfer를 이용하여 numpy array를 출력하고,\n              dataframe으로 변환하여 출력하고, 마지막으로 sparse matrix를 출력한다.\n           d->결측치 NaN으로 표시된 행을 모두 삭체하고 삭체 전/후 행과 열의 개수출력\n           e->각 결측치들을 각 column별 평균으로 바꾸고 결측치들이 있던 행을 출력하고\n              행의 개수도 출력한다.\n           f->우선 당뇨병의 유무를 positive와 negative로 나누어 groupby를 한다. 그 후 \n              각 그룹에서 50개 씩 sampling을 복원없이 추출하여 2개를 concat하여 100개의 \n              표본을 가진 2개의 파일을 만든다.\n'

(a)

(768, 9)
     0    1   2   3    4     5      6   7  8
0    6  148  72  35    0  33.6  0.627  50  1
1    1   85  66  29    0  26.6  0.351  31  0
2    8  183  64   0    0  23.3  0.672  32  1
3    1   89  66  23   94  28.1  0.167  21  0
4    0  137  40  35  168  43.1  2.288  33  1
5    5  116  74   0    0  25.6  0.201  30  0
6    3   78  50  32   88  31.0  0.248  26  1
7   10  115   0   0    0  35.3  0.134  29  0
8    2  197  70  45  543  30.5  0.158  53  1
9    8  125  96   0    0   0.0  0.232  54  1
10   4  110  92   0    0  37.6  0.191  30  0
11  10  168  74   0    0  38.0  0.537  34  1
12  10  139  80   0    0  27.1  1.441  57  0
13   1  189  60  23  846  30.1  0.398  59  1
14   5  166  72  19  175  25.8  0.587  51  1
15   7  100   0   0    0  30.0  0.484  32  1
16   0  118  84  47  230  45.8  0.551  31  1
17   7  107  74   0    0  29.6  0.254  31  1
18   1  103  30  38   83  43.3  0.183  33  0
19   1  115  70  30   96  34.6  0.529  32  1

(b)

     0      1     2     3      4     5      6   7  8
0    6  148.0  72.0  35.0    NaN  33.6  0.627  50  1
1    1   85.0  66.0  29.0    NaN  26.6  0.351  31  0
2    8  183.0  64.0   NaN    NaN  23.3  0.672  32  1
3    1   89.0  66.0  23.0   94.0  28.1  0.167  21  0
4    0  137.0  40.0  35.0  168.0  43.1  2.288  33  1
5    5  116.0  74.0   NaN    NaN  25.6  0.201  30  0
6    3   78.0  50.0  32.0   88.0  31.0  0.248  26  1
7   10  115.0   NaN   NaN    NaN  35.3  0.134  29  0
8    2  197.0  70.0  45.0  543.0  30.5  0.158  53  1
9    8  125.0  96.0   NaN    NaN   NaN  0.232  54  1
10   4  110.0  92.0   NaN    NaN  37.6  0.191  30  0
11  10  168.0  74.0   NaN    NaN  38.0  0.537  34  1
12  10  139.0  80.0   NaN    NaN  27.1  1.441  57  0
13   1  189.0  60.0  23.0  846.0  30.1  0.398  59  1
14   5  166.0  72.0  19.0  175.0  25.8  0.587  51  1
15   7  100.0   NaN   NaN    NaN  30.0  0.484  32  1
16   0  118.0  84.0  47.0  230.0  45.8  0.551  31  1
17   7  107.0  74.0   NaN    NaN  29.6  0.254  31  1
18   1  103.0  30.0  38.0   83.0  43.3  0.183  33  0
19   1  115.0  70.0  30.0   96.0  34.6  0.529  32  1
NaN으로 치환된 데이터 셀의 개수는 652 개 입니다.

(c)

     0      1      2     3      4     5      6   7  8
374  B  122.0   52.0  43.0  158.0  36.2  0.816  28  0
375  C  140.0   82.0  43.0  325.0  39.2  0.528  58  1
376  A   98.0   82.0  15.0   84.0  25.2  0.299  22  0
377  B   87.0   60.0  37.0   75.0  37.2  0.509  22  0
378  C  156.0   75.0   NaN    NaN  48.3  0.238  32  1
379  A   93.0  100.0  39.0   72.0  43.4  1.021  35  0
380  B  107.0   72.0  30.0   82.0  30.8  0.821  24  0
381  A  105.0   68.0  22.0    NaN  20.0  0.236  22  0
382  B  109.0   60.0   8.0  182.0  25.4  0.947  21  0
383  B   90.0   62.0  18.0   59.0  25.1  1.268  25  0
384  B  125.0   70.0  24.0  110.0  24.3  0.221  25  0
385  B  119.0   54.0  13.0   50.0  22.3  0.205  24  0
386  C  116.0   74.0  29.0    NaN  32.3  0.660  35  1
387  C  105.0  100.0  36.0    NaN  43.3  0.239  45  1
388  C  144.0   82.0  26.0  285.0  32.0  0.452  58  1
389  C  100.0   68.0  23.0   81.0  31.6  0.949  28  0
390  B  100.0   66.0  29.0  196.0  32.0  0.444  42  0
391  C  166.0   76.0   NaN    NaN  45.7  0.340  27  1
392  B  131.0   64.0  14.0  415.0  23.7  0.389  21  0
393  C  116.0   72.0  12.0   87.0  22.1  0.463  37  0
<class 'pandas.core.frame.DataFrame'>
[[0.000e+00 1.000e+00 0.000e+00 1.220e+02 5.200e+01 4.300e+01 1.580e+02
  3.620e+01 8.160e-01 2.800e+01 0.000e+00]
 [0.000e+00 0.000e+00 1.000e+00 1.400e+02 8.200e+01 4.300e+01 3.250e+02
  3.920e+01 5.280e-01 5.800e+01 1.000e+00]
 [1.000e+00 0.000e+00 0.000e+00 9.800e+01 8.200e+01 1.500e+01 8.400e+01
  2.520e+01 2.990e-01 2.200e+01 0.000e+00]
 [0.000e+00 1.000e+00 0.000e+00 8.700e+01 6.000e+01 3.700e+01 7.500e+01
  3.720e+01 5.090e-01 2.200e+01 0.000e+00]
 [0.000e+00 0.000e+00 1.000e+00 1.560e+02 7.500e+01       nan       nan
  4.830e+01 2.380e-01 3.200e+01 1.000e+00]
 [1.000e+00 0.000e+00 0.000e+00 9.300e+01 1.000e+02 3.900e+01 7.200e+01
  4.340e+01 1.021e+00 3.500e+01 0.000e+00]
 [0.000e+00 1.000e+00 0.000e+00 1.070e+02 7.200e+01 3.000e+01 8.200e+01
  3.080e+01 8.210e-01 2.400e+01 0.000e+00]
 [1.000e+00 0.000e+00 0.000e+00 1.050e+02 6.800e+01 2.200e+01       nan
  2.000e+01 2.360e-01 2.200e+01 0.000e+00]
 [0.000e+00 1.000e+00 0.000e+00 1.090e+02 6.000e+01 8.000e+00 1.820e+02
  2.540e+01 9.470e-01 2.100e+01 0.000e+00]
 [0.000e+00 1.000e+00 0.000e+00 9.000e+01 6.200e+01 1.800e+01 5.900e+01
  2.510e+01 1.268e+00 2.500e+01 0.000e+00]
 [0.000e+00 1.000e+00 0.000e+00 1.250e+02 7.000e+01 2.400e+01 1.100e+02
  2.430e+01 2.210e-01 2.500e+01 0.000e+00]
 [0.000e+00 1.000e+00 0.000e+00 1.190e+02 5.400e+01 1.300e+01 5.000e+01
  2.230e+01 2.050e-01 2.400e+01 0.000e+00]
 [0.000e+00 0.000e+00 1.000e+00 1.160e+02 7.400e+01 2.900e+01       nan
  3.230e+01 6.600e-01 3.500e+01 1.000e+00]
 [0.000e+00 0.000e+00 1.000e+00 1.050e+02 1.000e+02 3.600e+01       nan
  4.330e+01 2.390e-01 4.500e+01 1.000e+00]
 [0.000e+00 0.000e+00 1.000e+00 1.440e+02 8.200e+01 2.600e+01 2.850e+02
  3.200e+01 4.520e-01 5.800e+01 1.000e+00]
 [0.000e+00 0.000e+00 1.000e+00 1.000e+02 6.800e+01 2.300e+01 8.100e+01
  3.160e+01 9.490e-01 2.800e+01 0.000e+00]
 [0.000e+00 1.000e+00 0.000e+00 1.000e+02 6.600e+01 2.900e+01 1.960e+02
  3.200e+01 4.440e-01 4.200e+01 0.000e+00]
 [0.000e+00 0.000e+00 1.000e+00 1.660e+02 7.600e+01       nan       nan
  4.570e+01 3.400e-01 2.700e+01 1.000e+00]
 [0.000e+00 1.000e+00 0.000e+00 1.310e+02 6.400e+01 1.400e+01 4.150e+02
  2.370e+01 3.890e-01 2.100e+01 0.000e+00]
 [0.000e+00 0.000e+00 1.000e+00 1.160e+02 7.200e+01 1.200e+01 8.700e+01
  2.210e+01 4.630e-01 3.700e+01 0.000e+00]]
<class 'numpy.ndarray'>
      0    1    2      3      4     5      6     7      8     9    10
374  0.0  1.0  0.0  122.0   52.0  43.0  158.0  36.2  0.816  28.0  0.0
375  0.0  0.0  1.0  140.0   82.0  43.0  325.0  39.2  0.528  58.0  1.0
376  1.0  0.0  0.0   98.0   82.0  15.0   84.0  25.2  0.299  22.0  0.0
377  0.0  1.0  0.0   87.0   60.0  37.0   75.0  37.2  0.509  22.0  0.0
378  0.0  0.0  1.0  156.0   75.0   NaN    NaN  48.3  0.238  32.0  1.0
379  1.0  0.0  0.0   93.0  100.0  39.0   72.0  43.4  1.021  35.0  0.0
380  0.0  1.0  0.0  107.0   72.0  30.0   82.0  30.8  0.821  24.0  0.0
381  1.0  0.0  0.0  105.0   68.0  22.0    NaN  20.0  0.236  22.0  0.0
382  0.0  1.0  0.0  109.0   60.0   8.0  182.0  25.4  0.947  21.0  0.0
383  0.0  1.0  0.0   90.0   62.0  18.0   59.0  25.1  1.268  25.0  0.0
384  0.0  1.0  0.0  125.0   70.0  24.0  110.0  24.3  0.221  25.0  0.0
385  0.0  1.0  0.0  119.0   54.0  13.0   50.0  22.3  0.205  24.0  0.0
386  0.0  0.0  1.0  116.0   74.0  29.0    NaN  32.3  0.660  35.0  1.0
387  0.0  0.0  1.0  105.0  100.0  36.0    NaN  43.3  0.239  45.0  1.0
388  0.0  0.0  1.0  144.0   82.0  26.0  285.0  32.0  0.452  58.0  1.0
389  0.0  0.0  1.0  100.0   68.0  23.0   81.0  31.6  0.949  28.0  0.0
390  0.0  1.0  0.0  100.0   66.0  29.0  196.0  32.0  0.444  42.0  0.0
391  0.0  0.0  1.0  166.0   76.0   NaN    NaN  45.7  0.340  27.0  1.0
392  0.0  1.0  0.0  131.0   64.0  14.0  415.0  23.7  0.389  21.0  0.0
393  0.0  0.0  1.0  116.0   72.0  12.0   87.0  22.1  0.463  37.0  0.0
<class 'pandas.core.frame.DataFrame'>
  (0, 1)	1.0
  (0, 3)	122.0
  (0, 4)	52.0
  (0, 5)	43.0
  (0, 6)	158.0
  (0, 7)	36.2
  (0, 8)	0.816
  (0, 9)	28.0
  (1, 2)	1.0
  (1, 3)	140.0
  (1, 4)	82.0
  (1, 5)	43.0
  (1, 6)	325.0
  (1, 7)	39.2
  (1, 8)	0.528
  (1, 9)	58.0
  (1, 10)	1.0
  (2, 0)	1.0
  (2, 3)	98.0
  (2, 4)	82.0
  (2, 5)	15.0
  (2, 6)	84.0
  (2, 7)	25.2
  (2, 8)	0.299
  (2, 9)	22.0
  :	:
  (17, 2)	1.0
  (17, 3)	166.0
  (17, 4)	76.0
  (17, 5)	nan
  (17, 6)	nan
  (17, 7)	45.7
  (17, 8)	0.34
  (17, 9)	27.0
  (17, 10)	1.0
  (18, 1)	1.0
  (18, 3)	131.0
  (18, 4)	64.0
  (18, 5)	14.0
  (18, 6)	415.0
  (18, 7)	23.7
  (18, 8)	0.389
  (18, 9)	21.0
  (19, 2)	1.0
  (19, 3)	116.0
  (19, 4)	72.0
  (19, 5)	12.0
  (19, 6)	87.0
  (19, 7)	22.1
  (19, 8)	0.46299999999999997
  (19, 9)	37.0
<class 'scipy.sparse.csr.csr_matrix'>

(d)

(768, 9)
(392, 9)

(e)

     0      1     2     3   4     5      6   7  8
0    C  148.0  72.0  35.0 NaN  33.6  0.627  50  1
1    B   85.0  66.0  29.0 NaN  26.6  0.351  31  0
2    C  183.0  64.0   NaN NaN  23.3  0.672  32  1
5    C  116.0  74.0   NaN NaN  25.6  0.201  30  0
7    C  115.0   NaN   NaN NaN  35.3  0.134  29  0
9    C  125.0  96.0   NaN NaN   NaN  0.232  54  1
10   C  110.0  92.0   NaN NaN  37.6  0.191  30  0
11   C  168.0  74.0   NaN NaN  38.0  0.537  34  1
12   C  139.0  80.0   NaN NaN  27.1  1.441  57  0
15   C  100.0   NaN   NaN NaN  30.0  0.484  32  1
17   C  107.0  74.0   NaN NaN  29.6  0.254  31  1
21   C   99.0  84.0   NaN NaN  35.4  0.388  50  0
22   C  196.0  90.0   NaN NaN  39.8  0.451  41  1
23   C  119.0  80.0  35.0 NaN  29.0  0.263  29  1
26   C  147.0  76.0   NaN NaN  39.4  0.257  43  1
29   C  117.0  92.0   NaN NaN  34.1  0.337  38  0
30   C  109.0  75.0  26.0 NaN  36.0  0.546  60  0
33   C   92.0  92.0   NaN NaN  19.9  0.188  28  0
34   C  122.0  78.0  31.0 NaN  27.6  0.512  45  0
36   C  138.0  76.0   NaN NaN  33.2  0.420  35  0
37   C  102.0  76.0  37.0 NaN  32.9  0.665  46  1
38   B   90.0  68.0  42.0 NaN  38.2  0.503  27  1
41   C  133.0  84.0   NaN NaN  40.2  0.696  37  0
42   C  106.0  92.0  18.0 NaN  22.7  0.235  48  0
44   C  159.0  64.0   NaN NaN  27.4  0.294  40  0
45   A  180.0  66.0  39.0 NaN  42.0  1.893  25  1
46   B  146.0  56.0   NaN NaN  29.7  0.564  29  0
47   B   71.0  70.0  27.0 NaN  28.0  0.586  22  0
48   C  103.0  66.0  32.0 NaN  39.1  0.344  31  1
49   C  105.0   NaN   NaN NaN   NaN  0.305  24  0
..  ..    ...   ...   ...  ..   ...    ...  .. ..
712  C  129.0  62.0  36.0 NaN  41.2  0.441  38  1
714  C  102.0  74.0   NaN NaN  29.5  0.121  32  0
717  C   94.0  72.0  18.0 NaN  23.1  0.595  56  0
719  C   97.0  76.0  27.0 NaN  35.6  0.378  52  1
720  C   83.0  86.0  19.0 NaN  29.3  0.317  34  0
724  B  111.0  94.0   NaN NaN  32.8  0.265  45  0
725  C  112.0  78.0  40.0 NaN  39.4  0.236  38  0
727  A  141.0  84.0  26.0 NaN  32.4  0.433  22  0
728  B  175.0  88.0   NaN NaN  22.9  0.326  22  0
729  B   92.0  52.0   NaN NaN  30.1  0.141  22  0
731  C  120.0  86.0   NaN NaN  28.4  0.259  22  1
734  B  105.0  75.0   NaN NaN  23.3  0.560  53  0
735  C   95.0  60.0  32.0 NaN  35.4  0.284  28  0
737  C   65.0  72.0  23.0 NaN  32.0  0.600  42  0
739  B  102.0  74.0   NaN NaN  39.5  0.293  42  1
743  C  140.0  94.0   NaN NaN  32.7  0.734  45  1
746  B  147.0  94.0  41.0 NaN  49.3  0.358  27  1
749  C  162.0  62.0   NaN NaN  24.3  0.178  50  1
750  C  136.0  70.0   NaN NaN  31.2  1.182  22  1
752  C  108.0  62.0  24.0 NaN  26.0  0.223  25  0
754  C  154.0  78.0  32.0 NaN  32.4  0.443  45  1
756  C  137.0  90.0  41.0 NaN  32.0  0.391  39  0
757  A  123.0  72.0   NaN NaN  36.3  0.258  52  1
758  B  106.0  76.0   NaN NaN  37.5  0.197  26  0
759  C  190.0  92.0   NaN NaN  35.5  0.278  66  1
761  C  170.0  74.0  31.0 NaN  44.0  0.403  43  1
762  C   89.0  62.0   NaN NaN  22.5  0.142  33  0
764  B  122.0  70.0  27.0 NaN  36.8  0.340  27  0
766  B  126.0  60.0   NaN NaN  30.1  0.349  47  1
767  B   93.0  70.0  31.0 NaN  30.4  0.315  23  0

[376 rows x 9 columns]
치환이 발생한 행의 개수 376

(f)

(100, 9)
(100, 9)

In [95]:

print(df_train.shape)
print(df_test.shape)

(100, 9)
(100, 9)